<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="d-flex justify-content-end">
                            <%-include('./includes/filter-list.ejs')%>
                            <div class="p-3">
                                <button class="btn btn-primary main-pg-btn btn-icon-text pull-right px-2"  
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirmAddModal">
                                <i class="icofont-duotone icofont-plus-circle"> </i> Add New</button
                            >
                        </div>
                    </div>
                    <div class="table-responsive p-2">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">SN</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Done</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody id="todo-list">
                                <% if(data.length > 0){ data.forEach(function(item, index) { %>
                                    <tr>
                                        <th><%= index + 1 %></th>
                                        <td><%=item?.name ?? nil%></td>
                                        <td><%=item?.description ?? nil%></td>
                                        <td><%= item?.deadline ? formatDate(item?.deadline) : nil%></td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input done-checkbox" data-id="<%=item.id%>" type="checkbox" value="" id="flexCheckDefault" <%= item?.done ? 'checked' : ''%>>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="text-uppercase btn btn-light btn-sm p-1 me-2 edit-modal-form"  
                                                type="button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirmEditModal-<%=item?.id%>">
                                                <i class="icofont-duotone icofont-apply"> </i>Edit
                                            </button>
                                            <%- include ('./includes/edit-modal', {id: item?.id, name: item?.name, description: item?.description, deadline: formatDate(item?.deadline, "YYYY/MM/DD HH:mm")}) %>

                                            <button type="button"
                                                    class="btn btn-danger btn-sm p-1"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmDeleteModal-<%=item?.id%>">
                                                <i class="fa fa-trash"> </i>
                                                <%= 'Delete' %>
                                            </button>
                                            <%- include ('./includes/delete-modal', {id: item?.id}) %>
                                        </td>
                                    </tr>
                                <%});}else{ %>
                                    <tr>
                                        <td colspan="7" style="text-align: center">No Records found.</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('./includes/add-modal')%>


